@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutral-700;
  @apply bg-slate-50;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.grid-stack {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
